@tailwind base;
@tailwind components;
@tailwind utilities;

.g-c1-r1 {
  @apply grid grid-cols-1 grid-rows-1;
}

.c1-r1 {
  @apply col-start-1 row-start-1 col-span-1 row-span-1;
}

.c2-r1 {
  @apply row-start-1 row-span-1 col-start-2 col-span-1;
}

.c1-r2 {
  @apply row-start-2 row-span-1 col-start-1 col-span-1;
}

.container-wraparound-text {
  white-space: nowrap;
}
